@import "reset.css";
.status-bar {
  display: flex;
  justify-content: right;
  height: 48px;
  padding: 8px;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

.status-bar_menu {
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-right: 4px;
  height: 48px;
}

.status-bar_gmail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 33px;
  margin-left: 15px;
}

.status-bar_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 39px;
  margin-left: 15px;
}

.status-bar_dot9 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  margin-left: 23px;
}

.dots {
  font-size: 16px;
}

.status-bar_user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: 14px;
}

.status-bar_user_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgba(117, 148, 148, 0.719);
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content_logo {
  display: flex;
  justify-content: center;
  width: 272px;
  height: 200px;
  margin-bottom: 38px;
  font-weight: bolder;
}

.blue {
  color: rgb(28, 134, 255);
}

.red {
  color: rgb(255, 59, 59);
}

.yellow {
  color: rgb(255, 203, 30);
}

.green {
  color: green;
}

.content_logo_box {
  height: 92px;
  margin-top: 108px;
  text-align: justify;
  font-size: 75px;
}

.search {
  height: 44px;
  width: 561px;
  margin-bottom: 16px;
}
.search_icon {
  position: absolute;
  font-size: 16px;
  margin-top: 15.5px;
  margin-left: 18px;
  color: #9aa0a6;
  font-weight: lighter;
}
.search_keyboard {
  position: absolute;
  font-size: 18px;
  margin-top: -32px;
  margin-left: 540px;
  color: #9aa0a6;
  font-weight: lighter;
}
.search_speech {
  position: absolute;
  font-size: 18px;
  margin-top: -32px;
  margin-left: 580px;
  color: #e49090;
  font-weight: lighter;
}

.search_textinput {
  height: 44px;
  width: 481px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  padding-left: 48px;
  padding-right: 80px;
  color: black;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.websites {
  height: 112px;
  width: 353px;
  padding: 2px;
  margin-bottom: 4px;
  display: flex;
}

.websites_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96px;
  width: 112px;
  padding-top: 16px;
}
.websites_box_circle {
  height: 48px;
  width: 48px;
  background-color: rgba(241, 243, 244, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.websites_box_name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 88px;
  margin: 6px 12px 0px 12px;
  font-size: 13px;
}

.websites_box_inside {
  height: 30px;
  width: 30px;
}

.option {
  bottom: 10px;
  right: 15px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 125px;
  height: 16px;
  padding: 8px 16px;
  box-shadow: 0 1px 3px 0 rgb(32 33 36 / 28%);
  color: rgb(26, 115, 232);
  border-radius: 25px;
  font-weight: 400;
  font-size: 13px;
}

@media screen and (min-width: 0px) and (max-width: 560px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_textinput {
    width: 241px;
  }
  .search_icon {
    margin-top: 0px;
    margin-left: -320px;
  }
  .search_keyboard {
    margin-top: 0px;
    margin-left: 240px;
  }
  .search_speech {
    margin-top: 0px;
    margin-left: 310px;
  }
}

@media screen and (min-width: 561px) and (max-width: 670px) {
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_textinput {
    width: 310px;
  }
  .search_icon {
    margin-top: 0px;
    margin-left: -390px;
  }
  .search_keyboard {
    margin-top: 0px;
    margin-left: 320px;
  }
  .search_speech {
    margin-top: 0px;
    margin-left: 390px;
  }
}

.websites :hover {
  background-color: rgba(241, 243, 244, 1);
  transition-duration: 0s;
}

.websites :hover div:nth-child(1) {
  background-color: white;
  border-radius: 50px;
}

.status-bar_dot9:hover {
  background-color: rgba(12, 26, 32, 0.212);
  border-radius: 50px;
  transition-duration: 0s;
}

a:hover :nth-child(1) {
  border-bottom: 1px solid black;
}
